flask==1.0.2
jinja2==2.10
markupSafe==1.0
werkzeug==0.14.1
certifi==2022.12.7
chardet==3.0.4
idna==2.7
instagram-scraper==1.5.32
pip==9.0.1
pymongo==3.7.1
requests==2.18.4
setuptools==28.8.0
six==1.11.0
slackclient==1.2.1
tqdm==4.25.0
urllib3==1.22
websocket-client==0.47.0
